# LLM config
MODEL_LLM=qwen3:1.7b
TEMPERATURE=0.3

# data config
DIR_DATA_RAW=data/raw

#chunking config
CHUNK_SIZE=1000
CHUNK_OVERLAP=150

#embedding
EMBEDDING_MODEL=intfloat/multilingual-e5-large
DEVICE=cuda  # cpu | cuda
#vectorstore
VECTOR_STORE_TYPE=chroma
VECTOR_DB_DIR=./vectorstore/chroma_db

#retrieval
RETRIEVAL_TOP_K=8

#rerank
RERANKER_ENABLED=true
RERANKER_MODEL=cross-encoder/ms-marco-MiniLM-L-6-v2
RERANKER_TOP_K=15
