--index-url https://download.pytorch.org/whl/cu121

torch
torchvision
torchaudio
fastapi
uvicorn[standard]
langchain
langchain-community
langchain-huggingface
langchain-chroma
langchain-groq
chromadb 
pypdf
python-docx
docx2txt
pandas
openpyxl
python-pptx
tqdm
python-dotenv
tiktoken
sentence-transformers
pydantic
unstructured
extract-msg
pywin32
langchain-ollama
ragas
datasets
pandas
langchain-permit
rank_bm2c5
qdrant_client